.DS_STORE
build
node_modules
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
packages/react-sdk/dist/
packages/react-sdk/dist-embed/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
dist/index.html
src/index.html
.env
.env.local
.env.*.local
packages/react-sdk/.env
packages/react-sdk/.env.local
/package-lock.json
