.logo-element{
    display:inline-flex;
    align-items: center;

    a{
        color:black;
        font-size:220%;
        font-weight: bold;
        transition: .3s ease-in-out;
        transition-property: color;
        text-decoration: none;

        &:hover{
            color: lightgrey;
        }
    }
}