.qodef-pt-content{
    min-height: initial;
    @media screen and (min-width:992px) {
        min-height: 180px;
    }

    ul li{
        line-height: 1.6;
    }
}

.qodef-pt-title-holder{
    min-height: 85px;
}

.qodef-pt-price{
    &.is-discount{
        left:initial!important;
        text-decoration: line-through;
        font-size:32px!important;
        font-weight: 400!important;
        margin-top:10px;
        opacity:0.8;
    }
}

.qodef-btn.undercover{
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 30px 16px;
    letter-spacing: 2px;
}