@import '../base/variables.scss';


.globalFilter{
   *{
      font-family: 'DM Sans', sans-serif!important;
   }
   
   &__indicator{
      color:white!important;

      &-separator{
         display: none!important;
      }
   }

    &__control{
        border-radius:100px!important;
        border-color:  white!important;
        background-color:#FF3E4F!important;
        padding:5px !important;

        &--is-focused, &--menu-is-open{
            // box-shadow: 0 0 0 1px #FF3E4F!important;
            box-shadow: none!important;
        }
    }

    &__single-value{
        color:  white!important;
    }


    &__menu-list{
        padding:0 !important;
    }

    &__option{

        &--is-selected{
            background-color:#FF3E4F!important;
            
            &[class*="--is-focused"]{
                background-color:#FF3E4F!important;
            }
        }
        
        &--is-focused{
            background-color:lighten(#FF3E4F, 30%)!important;
        }
    }
}

.#{$pre}-c-filter
{
    display: inline-grid;
    padding:0 10px;
    cursor: pointer;
    row-gap: 15px;
    column-gap: 15px;
    justify-items: end;
    @media screen and (min-width:768px) {
       // grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
      grid-auto-flow: column;
   }
   // @media screen and (min-width:992px) {
   // }

   & > select, & > div{
      width:100%;
   }

   & > *{
      font-family: 'DM Sans', sans-serif;
   }

   &__body{
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      width: 100%;
   }

    &__column{
      display: grid;
      grid-auto-flow: row;
      align-items: start;
      grid-template-rows: auto 1fr;
      row-gap:15px;

      &__day{
         display: grid;
         grid-auto-flow: row;
         justify-items: center;
         row-gap: 10px;

         & > time{
               text-transform: uppercase;
               line-height: 1;
               color:#A5A1A1;

               .is-today &{
                  color:#232040;
               }

               &:first-child{
                  font-size: 12px;
                  font-weight: 600;
               }

               &:last-child{
                  height:30px;
                  width:30px;
                  padding:5px;
                  border-radius: 50%;
                  display: grid;
                  font-weight: 400;
                  align-items: center;
                  justify-items: center;

                  .is-today &{
                     background-color: #232040;
                     color:white;
                  }
               }
         }
      }

      
      &__meeting{
         border-left: .5px solid #EEEEEE;
         border-right: .5px solid #EEEEEE;
      }
   }

   &__item{
      position: relative;
      select{
         @media (min-width: 992px){
            width:initial;
         }
      }
   }
}