@import '../base/variables.scss';

.#{$pre}-c-serviceList,
.#{$pre}-c-staffList
{
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    & > *{
        font-family: 'DM Sans', sans-serif;
    }

    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
        max-width: 720px;
    }
    @media (min-width: 992px){
        max-width: 960px;
    }

    @media (min-width: 992px){
        max-width: 1140px;
    }

    &__header, &__body{
        display: block;
        width:100%;
    }

    &__header{
      display: grid;
      justify-items: end;
      margin-bottom: 10px;
    }

    &__body{
        .slick-list{
            padding-bottom: 20px;
        }
        .slick-slide{
            & > div{
                padding:10px;
            }
        }
        .slick-centered{
            .slick-slide{
                opacity: 0.6;
                pointer-events: none;
                transform: scale(0.8);
                @include transition(all);
                
                &.slick-center{
                    pointer-events: all;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    
    
        .slick-dots{
            bottom: 0px;
            li{
                height: initial;
                width: initial;
    
                &.slick-active{
                    button{
                        background-color: #575757;
                    }
                }
    
    
                button{
                    height: 10px;
                    width: 10px;
                    background-color:#EEEEEE;
                    border-radius: 50%;
                    @include transition(background-color);
    
                    &:hover{
                        background-color: #575757;
                    }
    
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}

.#{$pre}-c-serviceList{

    &__item{
        cursor:initial!important;
    }
}