@import '../base/variables.scss';

.#{$pre}-c-membershipList,
.#{$pre}-c-comboList
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    & > *{
        font-family: 'DM Sans', sans-serif;
    }

    @media (min-width: 576px){
        max-width: 540px;
    }
    @media (min-width: 768px){
        max-width: 720px;
    }
    @media (min-width: 992px){
        max-width: 960px;
    }

    @media (min-width: 992px){
        max-width: 1140px;
    }

    &__container{
        display: grid;
        align-items: center;

        .slick-slide{
            & > div{
                padding:15px;
            }
        }

        &.slick-centered{

            .slick-slide{
                opacity: 0.6;
                pointer-events: none;
                transform: scale(0.8);
                @include transition(all);
                
                &.slick-center{
                    pointer-events: all;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }


        .slick-dots{
            li{
                height: initial;
                width: initial;

                &.slick-active{
                    button{
                        background-color: #575757;
                    }
                }


                button{
                    height: 10px;
                    width: 10px;
                    background-color:#EEEEEE;
                    border-radius: 50%;
                    @include transition(background-color);

                    &:hover{
                        background-color: #575757;
                    }

                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
}