@import '../base/variables.scss';

.#{$pre}-c-login
{

    &__menu{
        display: inline-block;
        line-height:1.2;
        
        &-nav{
            display: inline-block;
        }
    }
}