@import '../../base/variables.scss';

.modal-dialog{

    & > *{
        font-family: 'DM Sans', sans-serif;
    }

    margin:0;
    height:100vh;
    width:100vw;
    max-width:100%!important;
    .modal-header{
        display: block;
        border: 0 none transparent;
        border-radius: 0;
        .modal-title{
            display: inline-block;
            font-size:22px;
            font-weight: 700;
            width:50%;
            letter-spacing: 1.15px;
            // text-transform: uppercase;
            text-align:left;
            padding:0;
            color: #1F1C3D;
        }
        .close{
            position:fixed;
            height:30px;
            width:30px;
            top:2rem;
            right:2rem;
            z-index:10;
            font-size:220%;
            font-weight: 600;
            padding:0;
            margin:0;
            
            span{
                display:flex;
                height:100%;
                width:100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;

        & > .row{
            height:100%;
        }

        .col-lg-6 > .container{
            display: grid;
            width: 80%;
        }

    }

    .modal-footer{
        border:0 none transparent;
        position:absolute;
        width:calc(100% - 30px);
        bottom:15px;
        left: 15px;

        ul {
            li{
                list-style-type: none;

                a{
                    font-size:12px;
                    line-height: 1.4;
                    letter-spacing: 0.85px;
                    color: #575757;
                    cursor: pointer;

                    &:hover{
                        color: lighten(#575757, 10%);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.modal-login, .modal-register, .modal-password{
    .modal-header{
        .close{
            color: #FF3E4F;
        }
    }

    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;


        & > .row{
            height:100%;

            [class*='col-']{
                display:flex;
                flex-flow:column nowrap;
                justify-content:center;
            }
        }
    }
}

.modal-login{

    &__header{
        
        h4{
            font-size:18px;
            letter-spacing: 1.15px;
        }
    }

    &__image{
        height:100%;
        width:100%;
        background-color: #f5f8fd;
    }
}

.modal-profile{
    padding:0;
    &__header{
        padding:0;
    }
    &__body{
        background-color: #eeeeee;
        padding:0;
        height:100%;
        overflow: hidden;

        > .container-fluid, > .container{
            height: calc(100% - 80px);
            width: 100%;
            margin-top:80px;
            padding:0px;
            overflow:hidden;
            border-radius: 58px 58px 0 0;
            background-color: #F6F6F4;

            > .row{
                height:100%;
            }
        }
    }
    &__image{
        padding:0;
        &-image{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: #f5f8fd;
            z-index: 0;
        }

        &-nav{
            position: relative;
            display:flex;
            align-items: flex-end;
            padding-left: 30px;
            padding-bottom:15px;
            height:100%;
            line-height: normal;
            z-index:1;
            ul{
                width:100%;
                padding:0;
                .nav-item{
                    display:block;
                    list-style: none;
                    width:100%;
                    text-align: right;
                    padding: 10px 20px;
                    a{
                        display: inline-block;
                        padding:10px 20px;
                        border: grey 1px solid;
                        color: grey;
                        opacity:.6;
                        transition: .3s ease-in-out;
                        transition-property: color, border-color, opacity;
                        &:hover{
                            color:white;
                            border-color:white;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}