div.GFSDK-c-Calendar__body.month {
    max-width: 600px !important; /* Limita el ancho máximo a 600px */
    padding: 15px !important;  /* Agrega un padding interno */
    box-sizing: border-box !important; /* Asegura que el padding no aumente el ancho total */
}

.calendar-wrapper {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    position: relative; /* Necesario si quieres usar posiciones absolutas */
}

.GFSDK-c-Calendar__day_column_vertical.month-calendar {
    flex: 1;
    display: flex;
    flex-direction: row;
    /*margin: 10px;
    padding: 10px;*/
    flex-wrap: wrap;
    align-items: center;
}

button.GFSDK-c-Calendar__body-weeksSection {
    padding: 0;
}

.GFSDK-c-Calendar__head-vertical p.GFSDK-e-form__label , .gs-paymentMethod__header .gs-title{
    display: none;
 }

.vertical-calendar--mobile {
    width: 100%;
    margin-top: 20px;
}

.GFSDK-e-meeting{
    margin: 15px 3px 0 3px !important;
}

p.no-meetings-message {
    margin-left: 30px;
    margin-top: 75px;
}

.GFSDK-c-Calendar__day_column_vertical.month-calendar {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; /* 2 columnas */
    grid-auto-rows: auto !important; /* Ajuste automático de altura */
    
    max-height: calc(3 * 67px) !important; /* Máximo 3 filas (ajusta 120px según el diseño) */
    overflow-y: auto !important; /* Scroll vertical para más elementos */
    padding: 10px !important;
    box-sizing: border-box !important;
}

button.react-calendar__tile {
    padding: 10px;
}

.GFSDK-c-Calendar__column__meeting{
    width:99%;
}


.GFSDK-c-Calendar__day_column_vertical.month-calendar .GFSDK-c-Calendar__item.GFSDK-e-meeting .GFSDK-e-meeting__body, .GFSDK-c-Calendar__day_column_vertical.month-calendar .GFSDK-c-Calendar__item.GFSDK-e-meeting hr {
    display: none;
}

.selected-date-wrapper {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

@media (max-width: 992px) {
    .GFSDK-c-Calendar__header_vertical, .vertical .GFSDK-c-Calendar__week_body_vertical, .month .vertical-calendar--mobile {
        display: none !important;
    }
    .GFSDK-c-filter{
        display: inline-flex !important;
    }
    .month .calendar-wrapper {
        display: flex
    ;
        align-items: center;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .month div div .GFSDK-c-Calendar .GFSDK-c-Calendar__week_body_vertical, .month .GFSDK-c-Calendar .GFSDK-c-Calendar__header_vertical {
        display: block !important;
        flex-wrap: nowrap;
        flex-direction: column;
        display: inline-flex !important;
        align-items: center;
    }

    .month .GFSDK-c-Calendar__day_column_vertical.month-calendar {
        width: fit-content !important;
    }
   
}