.calendar-wrapper {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    position: relative; /* Necesario si quieres usar posiciones absolutas */
}

.GFSDK-c-Calendar__day_column_vertical.month-calendar {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.vertical-calendar--mobile {
    width: 100%;
    margin-top: 20px;
}

.GFSDK-e-meeting{
    margin: 15px 3px 0 3px !important;
}

.GFSDK-c-Calendar__day_column_vertical.month-calendar .GFSDK-c-Calendar__item.GFSDK-e-meeting .GFSDK-e-meeting__body {
    display: none;
}

.GFSDK-c-Calendar__day_column_vertical.month-calendar .GFSDK-c-Calendar__item.GFSDK-e-meeting hr {
    display: none;
}


@media (max-width: 992px) {
    .calendar-selector{
        display: none;
    }
}