$staff-item:staff-item;

.#{$staff-item}{
    transition: .3s ease-in-out;
    transition-property: box-shadow;
    box-shadow: 0px 0px 0px 0px lightgrey;
    &:hover{
        .#{$staff-item}__container{
            box-shadow: 0px 12px 50px -8px lightgrey;
            > .card-body{
                transform: translateY(0%);
                &:before{
                    transition-delay: .3s;
                    transform: scaleY(1);
                }
                .#{$staff-item}__name, .#{$staff-item}__lastname, .#{$staff-item}__job{
                    opacity: 1;
                    transform: translateX(0%);
                    transition-delay: .6s;
                }
            }
        }
    }
    &__container{
        height: 600px;
        border: 0 transparent none;
        overflow: hidden;
        transition: .3s ease-in-out;
        > .card-body{
            bottom:0;
            left:0;
            background-color: white;
            width:100%;
            padding-left: 35px;
            transform: translateY(100%);
            transition: .3s ease-in-out;
            transition-property: transform;
            &:before{
                position: absolute;
                display: block;
                background-color: black;
                content: "";
                width:1px;
                height:80%;
                left:20px;
                bottom:0;
                transform: scaleY(0);
                transform-origin: center bottom;
                transition: .3s ease-in-out;
                transition-delay: 0s;
                transition-property: transform;
            }
        }
    }
    &__picture{
        height:100%;
        .image-missing{
            align-items:center;
            justify-content:center;
            height:100%;
            font-size: 140%;
            font-weight:bold;
            background-color: black;
            color:white;
            &.show{
                display:flex!important;
            }

            &.hidden{
                display: none;
            }
        }
        img{
            height: 100%;
            width:100%;
            object-fit: cover;
            object-position: top center;
        }
    }
    .#{$staff-item}__name, .#{$staff-item}__lastname, .#{$staff-item}__job{
        opacity: 0;
        transform: translateX(-20%);
        transition: .3s ease-in-out;
        transition-delay: 0s;
        transition-property: transform, opacity;
    }
    &__name{
        position: relative;
        display: inline-block;
        font-weight: bold;
        font-size: 140%;
        text-transform: uppercase;
    }
    &__lastname{
        display: inline-block;
        font-weight: 400;
        margin-left:5px;
        font-size: 120%;
        text-transform: uppercase;
    }
    &__job{
        font-size: 100%;
        text-transform: uppercase;
    }
}