.modal-dialog{
    margin:0;
    height:100vh;
    width:100vw;
    max-width:100%!important;
    .modal-header{
        display: block;
        border: 0 none transparent;
        border-radius: 0;
        .modal-title{
            display: inline-block;
            font-size:220%;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .close{
            position:fixed;
            height:30px;
            width:30px;
            top:2rem;
            right:2rem;
            z-index:10;
            font-size:220%;
            font-weight: 600;
            padding:0;
            margin:0;
            span{
                display:flex;
                height:100%;
                width:100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;

        & > .row{
            height:100%;
        }
    }

    .modal-footer{
        border:0 none transparent;
        position:absolute;
        width:calc(100% - 30px);
        bottom:15px;
        left: 15px;
    }
}

.modal-login, .modal-register{
    .modal-header{
        .close{
            color:white;
        }
    }

    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;

        & > .row{
            height:100%;

            [class*='col-']{
                display:flex;
                flex-flow:column nowrap;
                justify-content:center;
            }
        }
    }
}
.modal-register{
    .register{
        width:40%;
        margin: 0 auto;
    }
}

.modal-login{

    .login{
        width:40%;
        margin: 0 auto;
    }

    &__image{
        height:100%;
        width:100%;
        background-color: black;
    }
}