.modal-dialog{
    margin:0;
    height:100%;
    width:100vw;
    max-width:100%!important;
    .modal-header{
        display: block;
        border: 0 none transparent;
        border-radius: 0;
        
        .close{
            position:fixed;
            height:30px;
            width:30px;
            top:2rem;
            right:2rem;
            z-index:10;
            font-size:220%;
            font-weight: 600;
            padding:0;
            margin:0;
            span{
                display:flex;
                height:100%;
                width:100%;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;

        & > .row{
            height:100%;
        }
    }

    .modal-footer{
        border:0 none transparent;
        position:absolute;
        width:calc(100% - 30px);
        bottom:15px;
        left: 15px;
    }
}

.modal-login, .modal-register, .modal-password{

   &__container{
      max-width:100%;

      @media only screen and (min-width:992px){
         max-width:600px;
      }
   }

    .modal-header{
        .close{
            color:white;
        }
    }

    .modal-content{
        height:100%;
        width:100%;
        border-radius: 0;
        box-shadow: none;

        .auth{
            width:40%;
            margin: 0 auto;
        }

        & > .row{
            height:100%;

            [class*='col-']{
                display:flex;
                flex-flow:column nowrap;
                justify-content:center;
            }
        }
    }
}

.modal-login{

    &__image{
        height:100%;
        width:100%;
        background-color: black;
    }
}

.modal-profile{
    padding:0;
    &__header{
        padding:0;
    }

    &__body{
        background-color: #f3f3f3;
        padding:0;
        height:100%;
        overflow: hidden;

        > .container-fluid{
            height: 100%;
            width: 100%;
            padding:15px;

            > .row{
                height:100%;
            }
        }
    }
    &__image{
        padding:0;
        &-image{
            position:absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: black;
            z-index: 0;
        }

        &-nav{
            position: relative;
            display:flex;
            align-items: flex-end;
            padding-left: 30px;
            padding-bottom:15px;
            height:100%;
            line-height: normal;
            z-index:1;
            ul{
                width:100%;
                padding:0;
                .nav-item{
                    display:block;
                    list-style: none;
                    width:100%;
                    text-align: right;
                    padding: 10px 20px;
                    a{
                        display: inline-block;
                        padding:10px 20px;
                        border: grey 1px solid;
                        color: grey;
                        opacity:.6;
                        transition: .3s ease-in-out;
                        transition-property: color, border-color, opacity;
                        &:hover{
                            color:white;
                            border-color:white;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}