$membershipItem: membership-item;

[data-gf-theme="membership-list"]{
    .membership-item{
        margin:10px 0;
        cursor: initial;
        &__container{
            box-shadow: 0px 0px 20px -3px lightgrey;
            height:600px;
            margin:20px 0;
            transition: .3s ease-in-out;
            transition-property: box-shadow;
            &:hover{
                box-shadow: 0px 12px 50px -8px lightgrey;

                .#{$membershipItem}__actionCall{
                    background-color:black;
                    color:white;
                    border-color:black;
                }
            }
        }
        .card-header, .card-footer{
            color: black;
        }
        .card-body, .card-header{
            hr{
                width:100%;
                height:1px;
                background-color: #f3f3f3;
            }
        }
        .card-header{
            display:flex;
            flex-flow: column nowrap;
            border: 0 none transparent;
            justify-content: center;
            background:transparent;
            padding: 3rem 3rem 1rem;
            height: 180px;
        }

        .card-body, .card-footer{
            text-align:center;
            padding: 0 3rem;
            margin:1.5rem 0;
            background: transparent;
        }

        &__actionCall{
            appearance: none;
            background:transparent;
            border: 1px solid lightgrey;
            cursor:pointer;
            font-size: 100%;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 600;
            color: lightgrey;
            width:100%;
            margin:2rem 0;
            padding:10px 0;
            transition: .3s ease-in-out;
            transition-property: border-color, background-color, color;
        }
        &__name{
            display: inline-block;
            font-weight: bold;
            font-size: 140%;
            margin:.5rem 0 1rem;
            text-transform: uppercase;
        }
        &__price{
            margin:.5rem 0;
            &-no{
                display:flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size:350%;
                    line-height: 1.4;
                    display:inline-block;
                    margin:0 3px;
                    font-weight:bold;

                    &:first-child, &:last-child{
                        margin:0;
                        font-weight:400;
                    }

                    &:first-child{
                        font-size:160%;
                    }

                    &:last-child{
                        font-size: 70%;
                        display:inline-flex;
                        line-height: 1;
                        flex-flow: column nowrap;
                        align-items: flex-start;

                        span{
                            &:first-child{
                                font-size:300%;
                            }
                        }
                    }
                }
            }
        }
        &__time, &__short-description, &__description, &__services, &__parent-services, &__expiration{
            font-size: 100%;
            margin:0;
            padding:.5rem 0;
            line-height: 1.4;
        }
        &__short-description{
            text-transform: uppercase;
        }

        &__expiration{
            position:relative;
            display:flex;
            align-items: center;
            flex-flow: column nowrap;
            border-top: 1px solid #f3f3f3;
            padding:12px 0;
            span{
                padding:0 10px;
                &:first-child{
                    position: absolute;
                    top:-8px;
                    display: inline-block;
                    background-color:white;
                    text-transform: uppercase;
                    font-size: 100%;
                    color:lightgrey;
                }
            }
        }
        &__description, &__services{
            text-align:left;
        }
    }
}