.staff-item-picture {
    width: 100%;
}

.service-item-pic {
    width: 100%
}

.parent-service-item-pic {
    width: 100%
}

.auth {
    padding: 60px 0;
}

.auth form {
    margin: 0 auto;
    max-width: 320px;
}

.combo-item-discount {
    text-decoration-line: line-through;
}

.combo-item {
    cursor: pointer;
}

.membership-item-discount {
    text-decoration-line: line-through;
}

.membership-item {
    cursor: pointer;
}

.calendar-day-column {
    width: 13%;
}

.calendar-day-column:not(.last-day) {
    border-right: 1px solid;
}

.calendar-meeting {
    cursor: pointer;
    margin: 10px;
}

.calendar-control-button {
    cursor: pointer;
}
