.staff-item-picture {
    width: 100%;
}

.service-item-pic {
    width: 100%
}

.parent-service-item-pic {
    width: 100%
}

.auth {
    padding: 60px 0;
}

.auth form {
    margin: 0 auto;
}

.combo-item-discount {
    text-decoration-line: line-through;
}

.combo-item {
    cursor: pointer;
}

.membership-item-discount {
    text-decoration-line: line-through;
}

.membership-item {
    cursor: pointer;
}

a {
    cursor: pointer;
}