.staff-item-picture {
    width: 100%;
}

.service-item-pic {
    width: 100%
}

.parent-service-item-pic {
    width: 100%
}

.login {
    padding: 60px 0;
}

.login form {
    margin: 0 auto;
    max-width: 320px;
}

.register {
    padding: 60px 0;
}

.register form {
    margin: 0 auto;
    max-width: 320px;
}

.combo-item-discount {
    text-decoration-line: line-through;
}

.combo-item{
    cursor: pointer;
}

.membership-item-discount {
    text-decoration-line: line-through;
}

.membership-item{
    cursor: pointer;
}