[data-gf-theme="staff-list"][data-gf-template="prowess"]{
    & > div > div {
        position: relative;
    }

    .tt_navigation_wrapper{
        display: grid;
        margin-left:auto;
        grid-template-rows: repeat(1, 1fr);
        grid-row-gap: .5em;
        align-items: end;
        width:100%;
        justify-items: center;
        justify-content: initial;

        @media screen and (min-width:992px) {
            grid-auto-flow: column;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1em;
            grid-template-rows: initial;
            grid-row-gap: initial;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .calendar-filter-selector{
        display: grid;
        grid-template-rows: repeat(1, auto);
        justify-items: center;
        width:100%;
    
        @media screen and (min-width: 992px){
            grid-template-columns: 1fr;
            grid-template-rows: initial;
            grid-column-gap: .5em;
            align-items: center;
            justify-items: initial;
        }
    
    
        .react-select-container{
            .react-select__control{
                width: 100%;
                font-family: inherit;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
                color: #F2C545;
                background-color: darken(#302f34, 10%);
                border-radius: 0;
                border: 1px solid transparent;
                outline: 0;
                cursor: text;
                box-sizing: border-box;
                transition: border-color .2s ease-in-out;
            }
    
            .react-select{
                &__single-value{
                    color: #F2C545;
                }
    
                &__menu{
                    color: white;
                    background-color: #302f34;
                    &-list{
                        padding:0
                    }
                }
    
                &__option{
                    &--is-focused{
                        background-color: darken(#302f34, 10%);
                        color:#F2C545;
                    }
                }
            }
        }
    
        .form-control{
            border-radius: 0;
            color: #F2C545;
            background-color: darken(#302f34, 10%);
            border: 0 transparent none;
            outline: none;
            box-shadow: none;
            
            option{
    
                &[value]{
                    line-height: 1.6em;
                    padding:80px 0;
                }
            }
        }
    }
}

.qodef-team-image{
    min-height:321px;
}

.qodef-team.info-hover .qodef-team-image img{
    object-fit: cover;
    height: 321px;
}

.qodef-team-name a{
    cursor: pointer;
}

