form{
    h4{
        margin-top: 1rem;
    }
    @media screen and (max-width: 1366px) {
        h4{
            margin-top: .5rem;
            font-size:100%;
        }
    }
}
.form-group{
    label{
        font-weight:400;
        margin:0;
        font-size:80%;
        letter-spacing: 1px;
        color:lightgrey;
    }
    [type="text"], [type="email"], [type="password"], [type="number"]{
        border-radius: 0px!important;
        border:0 transparent none;
        box-shadow: none;
        font-size: 100%;
        height:initial;
        padding:10px 0 2px;
        border-bottom: 1px lightgrey solid;
        transition: .3s ease-in-out;
        transition-property: border-color;

        @media screen and (max-width: 1366px) {
            padding: 5px 0 2px;
        }

        &[disabled]{
            background:transparent;
            color: lightgrey;
            &:hover{
                border-color: lightgrey;
            }
        }
        &:hover{
            border-color: grey;
        }
    }

}

.react-date-picker{
    margin-left:10px;

    &__wrapper{
        background-color: #f3f3f3;
        border:0 none transparent;
        padding: .5rem 1rem;
        border-radius: 5px;
    }

    &__clear-button, &__calendar{
        svg{
            color:grey;
        }
    }
}


.radio-group{
    display:inline-flex;
    flex-flow:row nowrap;
    margin: 0 .5rem!important;
    align-items: center;

    [type="radio"]{
        margin:0!important;
        margin-right:10px!important;
        display: inline;
        position:relative!important;
    }

    p{
        margin:0;
    }
}

.select-group{
    & > div > div{
        border-radius: 0px;
        border-color: lightgrey;
    }
}

[type="submit"]{
    padding:10px 20px;
    background-color:white !important;
    border-radius: 5px;
    border:lightgrey 1px solid!important;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 600;
    color:lightgrey !important;
    transition: .3s ease-in-out;
    transition-property: border-color, background-color, color;

    &:hover{
        background-color:black!important;
        color:white!important;
        border-color: black!important;
    }

    @media screen and (max-width:1366px) {
        padding:5px 10px;
    }
}