@import '../base/variables.scss';

.#{$pre}-e-pagination{
   display:grid;
   justify-items: center;

   @include cleanStyles;

   &__container{
      display: inline-grid;
      grid-auto-flow: column;
      align-items: center;
      column-gap: 15px;
   }

   &__next, &__past{
      cursor: pointer;
      height:20px;
      width: 20px;
   }

   &__controls{
      position: absolute;
      z-index: 99;
      overflow: visible;
      @include transition(opacity);

      &.slick-disabled{
         opacity: 0;
         pointer-events: none;
      }

      &.is-next{
         right:-10px;
         height: initial;
         width: initial;
         
         &:before{
            display: none;
         }
      }
      
      &.is-prev{
         left:-10px;
         height: initial;
         width: initial;
         
         &:before{
            display: none;
         }
      }

      & > button{
         background:transparent;
         box-sizing: border-box;
         height:49px;
         width:49px;
         padding: 19px 18px;
         z-index: 9;
         // border: 0 transparent none;

         &:focus{
            outline:none;
         }
      }
   }

    &__bullets{
        cursor: pointer;
        &:focus{
            outline: none;
        }
        & > button{
            position:relative;
            height: 49px;
            width:49px;
            border-radius: 100%;
            border: 1px solid rgb(151, 151, 151);
            padding:0;
            @include transition(background-color);

            &:focus{
                outline: none;
            }

            &:hover, &.active-page{
                background-color: #575757;
            }
        }

    }
}