@import '../base/variables.scss';

.#{$pre}-e-navigation{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
    color:#575757;

    @include cleanStyles;

    &__next, &__prev{

        & > a {
            display: inline-grid;
            align-items: center;

            font-size:12px;
            letter-spacing: 1.15px;
        }
        
        svg{
            height:12px;
            width:12px;
        }
    }
    
    &__prev{
        justify-self: start;
        & > a {
            grid-template-columns: auto 1fr;
            column-gap: 10px;
        }

    }

    &__next{
        justify-self: end;
        & > a {
            grid-template-columns: 1fr auto;
            column-gap: 10px;
        }

    }
}