@import '../base/variables.scss';

.#{$pre}-e-product{
   display:block;
   position:relative;
   grid-auto-flow: row;
   row-gap: 15px;
   border: 1px solid #EEEEEE;
   padding: 30px;
   border-radius: 0;
   height: 300px;
   background-color:white;
   box-sizing: border-box;
   width:100%;

   h3, p {
      font-family: 'DM Sans', sans-serif;
   }

   @include cleanStyles;

   &__head, &__body{
      color: #1F1C3D;

      h3, p{
         color: inherit;
      }
   }

    &__footer{
        color: #575757;
    }

    &__head, &__body{
        color: #000000;
    }

   &__head{
      display:grid;
      align-items: center;
      width:100%;

      > .this-name{
         display: block;
         width:100%;
         white-space: normal;
         font-size: 16px;
         line-height: 1.4;
         text-align: left;
         font-weight:600;
         letter-spacing: 1.15px;
         overflow: visible;
      }
   }
   &__body{
      margin-top:23px;
      display: grid;
      row-gap: .75rem;
      .this-price{
         width:100%;
         overflow: hidden;
         p{
            font-size:14px;
            font-weight: 300;
            color:#544C4C;
         }

         &.has-discount{
            p{
               text-decoration: line-through;
               font-size: 12px;
               font-weight: 400;
               color:#575757;
            }
         }
      } 

      button{
         position: absolute;
         bottom:30px;
         color: rgb(255, 255, 255);
         background: #FF3E4F;
         min-width: 134px;
         border-radius: 4px;
         padding:8px 29px;
         font-size:12px;
         margin-top:70px;
         
         &:hover{
            background: #FFA3AB;
         }
      }
   }

   &__footer{
      display: grid;
      grid-auto-flow: row;
      margin-top:10px;
      row-gap: 15px;

      // > .this-shortDescription,
       > .this-expiration{
         width:100%;
         text-align: left;
         white-space: normal;
         font-size: 12px;
         letter-spacing: .85px;
         overflow: hidden;
         text-overflow: ellipsis;
         font-weight:400;
      }

      > .this-expiration{
         height: 100%;
         line-height: 1.4;

         & > span, & > strong{
            display:inline;
            font-weight:400;
            font-size:11px;
            color:#BBBBBD;
         }
      }
   }
}