@import '../base/variables.scss';

.#{$pre}-e-form{
    height: 100%;
    &:focus{
        outline:none;
    }

    &__container{
        display:grid;
        &:focus{
            outline:none;
        }
    }

    &__divider{
        background-color: #E0E0E0;
        width:calc(100%);
        margin: 0 auto;
        height: 1px;
        border: 0 transparent none;
    }

    &__select{
      appearance: none;
      padding:10px 23px;
      font-size:11px;
      border-radius: 100px;
      outline: none;
      border: 1px #575757 solid;
      color:#575757;
      background-color:transparent;
      width:100%;
      height:initial!important;
      cursor: pointer;
      letter-spacing: 1.15px;

      &-icon{
         position:absolute;
         height:100%;
         width:12px;
         right: 20px;
         pointer-events: none;
      }
      
      .#{$pre}-c-Calendar__head-horizontal &{
         padding:0;
         border: 0 transparent none;
         font-size:11px;
         font-weight:600;
      }

      option{
         padding:10px;
         letter-spacing: 1.15px;
      }
    }
    
    &__section{
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        row-gap: 5px;
        margin:0;
        width: 100%;

        &.is-email_confirm, &.is-first_name_confirm{
            display: none;
        }

        &.is-empty{
            display:none;
        }

        &.is-gender{
            align-items: center;
            height: 100%;
            grid-template-rows: 1fr;
        }
        
        &.is-gender, &.is-birthday{
            width: 100%;
            
            @media screen and (min-width:992px) {
                grid-template-rows: 1fr;
                width: initial;
            }
        }

        &.is-country,
        &.is-state
        {
            input{
                height:initial;
            }
        }

        &.is-email{
            @media screen and (min-width:992px) {
                grid-column: 2/4;
            }
        }

        &.is-state{
            
            @media screen and (min-width:992px) {
                grid-column: 3/5;
            }
        }

        &.is-day-filter{
            display: grid;
            justify-items: center;
            align-items: end;
        }

        .react-date-picker {
            display: block;

            &__wrapper {
                display: grid;
                grid-template-columns: 1fr auto auto;
                column-gap: 10px;
                border: 0 transparent none;
            }

            &__inputGroup {
                display: inline-grid;
                grid-template-columns: 1fr auto 1fr auto 1fr;
                align-items: center;
                column-gap: 10px;
                padding: 5px 0px;
                border-bottom: 1px solid #BDBDBD;

                &__input {
                    color:#4E4E50;
                    width:80px!important;
                    text-align: center;
                    font-weight: 500;
                    font-size:16px!important;
                    
                    @media screen and (min-width:992px) {
                        width:80px!important;
                    }
                }
            }
        }
    }
    
    &__label{
      font-size:12px;
      letter-spacing: 1.15px;
      font-weight: 300;
      color:#444444;
      margin: 0;
    }
    
    &__input{
        color:#4E4E50;
        font-size:16px!important;
        border-top: 0px none transparent!important;
        border-left: 0px none transparent!important;
        border-right: 0px none transparent!important;
        border-bottom: 1px solid #BDBDBD!important;
        background-color: transparent;
        border-radius: 0!important;
        // font-weight: 700;
        box-shadow: none!important;
        padding:5px 0px !important;
        height:initial!important;
        width:100%;
        
        &:focus{
            outline:none;
            border-color: transparent;
            box-shadow: none;
        }
        
        &:disabled{
            background-color: transparent;
            font-weight: 400;
            color:#C7C7C8;
            border-bottom: 1px solid lighten(#C7C7C8, 15%)!important;
        }
    }

    &__radio-container{
        display: inline-grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        
        &.has-3-columns{
            grid-template-columns: repeat(3, 40px);
            grid-template-rows: 1fr;
            column-gap: 15px;
            align-items: center;
        }
    }

    &__radio{
        display: inline-grid;
        grid-auto-flow: column;
        column-gap: 15px;
        grid-template-columns: auto 1fr;
        align-items: center;
        border-radius: 10px;
        padding: 0px;
        line-height: 1;
        font-size: 14px;
        margin:0;
        cursor: pointer;

        & > .this-radio{
            position: relative;
            display: grid;
            align-items: center;
            justify-items: center;
            height:20px;
            width:20px;
            border: 1px solid #BDBDBD;
            border-radius: 100%;

            &:before{
                content: "";
                display: block;
                height: 10px;
                width: 10px;
                border-radius: 100%;
                background-color: transparent;
                @include transition(background-color);
            }
            
            &.checked{
                &:before{
                    background-color: #FF3E4F;
                }
            }
        }

        .has-3-columns &{
            grid-template-columns: 1fr;
            padding:10px;
            border-radius: 10px;

            &:before{
                display: none;
            }
            svg{
                height:100%;
                width:100%;
                color: #A5A1A1;
                @include transition (color);
            }

            input {
                display: none;
            }
            &.checked{
                svg{
                    color: #1F1C3D;
                }
            }
        }

        input{
            display: none;
        }

        p {
            margin:0;
        }
    }
}