@import '../base/variables.scss';

.#{$pre}-e-structure{
    display:grid;
    grid-auto-flow: row;
    row-gap: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 23px;
    padding: 28px 26px;
    // cursor: pointer;
    @include transition(border);
    box-sizing: border-box;
    box-shadow: 0 2px 25px 0 rgba(0,0,0,0.05);

    @include cleanStyles;

    &:hover{
        // border: 1px solid #EF3532;
    }

    &__head, &__body{
        color: #1F1C3D;
    }

    &__body, &__footer{
        color: #575757;
    }

    &__head{
        color: #1F1C3D;
    }

    &__head{
        
        > .this-image{
            width:52px;
            height:52px;
            border-radius: 50%;
            overflow: hidden;

            & > img{
                height:100%;
                width:100%;
                object-fit: cover;
            }
        }
    }

    &__body{
        > .this-name{
            display: flex;
            align-items: center;
            width:100%;
            height: 100%;
            white-space: normal;
            font-size: 14px;
            line-height: 1.6;
            font-weight:700;
            letter-spacing: 1.15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        > .this-job{
            display: flex;
            align-items: center;
            width:100%;
            height: 100%;
            white-space: normal;
            font-size: 12px;
            line-height: 1.2;
            font-weight:400;
            letter-spacing: 1.15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__footer{

        > .this-description{
            width:100%;
            height: 80px;
            white-space: normal;
            font-size: 12px;
            line-height: 1.6;
            font-weight:400;
            letter-spacing: .85px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}