@import '../../../../../styles/default/libraries/mixins/border-radius';
@import '../../../../../styles/default/libraries/mixins/box-shadow';
@import '../../../../../styles/default/libraries/mixins/transition';
@import '../../../../../styles/default/libraries/mixins/forms';
@import '../../../../../styles/default/libraries/mixins/gradients';
@import '../../../../../styles/default/libraries/mixins/breakpoints';

@import '../../../../../styles/default/libraries/functions';
@import '../../../../../styles/default/libraries/variables';
@import '../../../../../styles/default/libraries/forms';


.tt_navigation_wrapper{
    display: grid;
    margin-left:auto;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: .5em;
    align-items: end;
    width:100%;
    justify-items: center;
    justify-content: initial;

    @media screen and (min-width:992px) {
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
        grid-template-rows: initial;
        grid-row-gap: initial;
        max-width: 80%;
    }
}

.calendar-filter-selector{
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    width:100%;

    @media screen and (min-width: 992px){
        grid-template-columns: auto 1fr;
        grid-template-rows: initial;
        grid-column-gap: .5em;
        align-items: center;
        justify-items: initial;
    }


    .react-select-container{
        .react-select__control{
            width: 100%;
            font-family: inherit;
            font-size: 15px;
            line-height: 20px;
            font-weight: 400;
            color: #F2C545;
            background-color: darken(#302f34, 10%);
            border-radius: 0;
            border: 1px solid transparent;
            outline: 0;
            cursor: text;
            box-sizing: border-box;
            transition: border-color .2s ease-in-out;
        }

        .react-select{
            &__single-value{
                color: #F2C545;
            }

            &__menu{
                color: white;
                background-color: #302f34;
                &-list{
                    padding:0
                }
            }

            &__option{
                &--is-focused{
                    background-color: darken(#302f34, 10%);
                    color:#F2C545;
                }
            }
        }
    }

    .form-control{
        border-radius: 0;
        color: #F2C545;
        background-color: darken(#302f34, 10%);
        outline: none;
        box-shadow: none;
        
        option{

            &[value]{
                line-height: 1.6em;
                padding:80px 0;
            }
        }
    }
}

.tt_timetable{
    border-collapse: collapse!important;
    color: grey;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    border: none;
    letter-spacing: normal;
    line-height: normal;
    border-spacing: 2px!important;
    background: white;
    @media screen and (min-width:992px) {
        background: darken(#302f34, 10%)!important;
    }

    display:grid;
    grid-auto-flow: row;
    grid-row-gap: .5em;
    &.is-responsive{
        display:grid!important;
    }
    @media screen and (min-width:992px) {
        grid-auto-flow: column;
        grid-template-columns: repeat(7 , 1fr);
        grid-row-gap: initial;
    }

    .calendar-day-column{

        &.is-empty{
            display:none;
            @media screen and (min-width:992px) {
                display:block;
            }
        }
    }

    .column-day-title{
        display: grid;
        height: 83px;
        text-transform: uppercase;
        font-size: 12px;
        box-sizing: border-box;
        color: #fff;
        line-height: 1.6em;
        letter-spacing: 2px;
        font-weight: 400;
        align-items: center;
        justify-content: center;
        grid-auto-flow: column;
        grid-column-gap: .5em;
        font-style: normal;
        border: none!important;
        background-color: #302f34;

        & > span{

            &:last-child{
                font-weight: bold;
            }
        }
    }

    .event{
        border-top:1px dashed #232226;
        border-bottom:1px dashed #232226;
        border-left:1px solid #232226;
        border-right:1px solid #232226;
        background: rgb(48, 47, 52);
        cursor: pointer;
        font-size:12px;
        min-height: initial;

        @media screen and (min-width:992px) {
            min-height: 160px;
        }

        &:hover{
            background-color: #F2C545!important;
            color:white;
        }

        &_container{
            padding: 27px 10px 15px;
            height: 100%;
            box-sizing: border-box;
        }

        &_location{
            letter-spacing: 4px;
            font-size:10px;
            color:white;
        }

        &_header{
            display: block;
            line-height: 1.25em;
            letter-spacing: 1px;
            font-size: 20px!important;
            text-transform: uppercase;
            font-weight: 600;
            color: #fff;
            font-family: 'Teko', sans-serif;
            margin-bottom: 3px;
            text-decoration: none;
            outline: none;
            transition: none!important;
            border: none;
            @media screen and (min-width: 992px) {
                font-size: 13px!important;
            }
            
            @media screen and (min-width: 1025px) {
                font-size: 20px!important;
            }
        }
        
        .bottom_hour, .top_hour {
            display: inline-block;
            margin: 0;
            float: left;
            width: 50%;
            box-sizing: border-box;
            
            .hours{
                color: #fff!important;
                font-size:12px;
                @media screen and (min-width: 1025px) {
                    font-size:14px;
                }
            }
        }
        
        .top_hour{
            text-align: right;
            padding-right: 5px;
            position: relative;
            
            &:after{
                position: absolute;
                content: "-";
                right: -2px;
                color: #fff;
            }
        }

        .bottom_hour {
            text-align: left;
            padding-left: 5px;
        }

        .after_hour_text{
            display: inline-block;
            margin-top: 6px;
            letter-spacing: .1em;
            color: #717274;
            font-size: 14px;

            @media screen and (min-width: 992px) {
                font-size: 10px;
            }
            
            @media screen and (min-width: 1025px) {
                font-size: 14px;
            }
        }
    }
}

.tt_tabs_navigation li a{
    cursor: pointer;
}